.toast-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }
  .toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 999; /* below the toast */
  }
  .confirm-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Override the ToastContainer wrapper to make it full screen and center content */
.Toastify__toast-container--top-center {
  position: fixed !important;
  top: 40% !important;
  left: 50% !important;
  transform: translateY(-50%,-50%);
  z-index: 1000 !important;
}

/* Optional: Style individual toast to center align contents */
/* .Toastify__toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */
